*~
.*sw?
\#*
.DS_Store
.idea
*.rej
*.orig
debug
*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb
*CMakeCache*
/doxygen_docs
/doxygen.tag
.vscode
Release
.atom-gdb.json
build

GTAGS

GRTAGS

GPATH

tmtags

CMakeLists.txt.user

.build-tools.cson
