<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>_doxygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>doxycfg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>doxygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>md5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>qtools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>vhdlparser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AAB3B92B74F4F518F2EC4E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10F3989D33FA4950BC356FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45954406DFAA43CBAC12581F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C8FA62FA2B94641B92878EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C7635E72C24C4FA0629457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E45B5D8FA8C4778AC04750B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3550008C77D457196B7F2C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB44FCDEB7243BCB4291BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B86204092A56440C9D021AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE25DA2A933E46F79D8B9089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D895BF6E22214D77A391DD76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F95D497598F94EB7ADB689AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
